[env]
_.path = ["./build/src/rootbeer_cli"]

[tools]
meson = "latest"
ninja = "1.12"
lua-language-server = "latest"

[tasks.setup]
description = "Setup the project"
run = "test -d build || meson setup build"
alias = "s"

[tasks.build]
description = "Build the project"
run = "meson compile -C build"
depends = ["setup"]
alias = "b"

[tasks.clean]
description = "Clean the project"
run = "meson setup build --wipe"
alias = "c"

