name: CI
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Mise
        run: |
          curl https://mise.run | sh
          echo "$HOME/.local/share/mise/bin" >> $GITHUB_PATH
          echo "$HOME/.local/share/mise/shims" >> $GITHUB_PATH

      - name: Cache Tools
        uses: actions/cache@v4
        with:
          path: ~/.local/share/mise
          key: mise-${{ runner.os }}-${{ hashFiles('mise.toml') }}

      - name: Install Tools
        run: |
          mise settings experimental=true
          mise install --yes

      - name: Cache Dependencies
        uses: actions/cache@v4
        with:
          path: |
            subprojects/**
            !subprojects/*.wrap
          key: deps-${{ runner.os }}-${{ hashFiles('subprojects/*.wrap') }}

      - name: Build
        run: mise run build
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Run clang-format
        uses: jidicula/clang-format-action@v4.16.0
        continue-on-error: true
        with:
          clang-format-version: "13"
          check-path: src
          fallback-style: LLVM
